<div class="row">

  <div class="col-3 bg-dark vh-100" id="deneme">
    <form [formGroup]="questionForm">
    <div class="mb-3">
    <label for="question" class="form-label text-white mt-5">Question</label>
    <textarea id="question" rows="8" class="form-control mb-5" formControlName="question"></textarea>
  </div>
  <div class="mb-3">
    <label for="option" class="form-label text-white">Options</label>
    <input type="text"  id="option" class="form-control" formControlName="option">
  </div>
  <button class="btn btn-primary" (click)="createQuestion()">Submit</button>
</form>
  </div>


<div class="col-9">

</div>
</div>
