<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div
        role="group"
        class="card mt-3 shadow"
        *ngFor="let soru of survey?.questions; index as i"
      >
        <div class="card-body" [id]="soru.id">
          <h5 class="card-title">{{ i + 1 }}. {{ soru?.question }}</h5>
          <div
            class="form-check"
            *ngFor="let option of soru?.options; index as j"
          >
            <input
              class="form-check-input"
              type="radio"
              [id]="option.option"
              [name]="soru.question"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              {{ option.option }}
            </label>
          </div>
        </div>
      </div>
      <div class="btn btn-outline-primary mt-2" (click)="submit()">
        Anketi Bitir
      </div>
    </div>
    <div class="col-4">
      <div class="container mt-5">
        <h1>Chat</h1>
        <div class="chat">
          <div *ngFor="let m of signalRService.messages">
            <div class="mb-2 mt-2">
              <div>
                {{ m.DateTime | date: "shortTime" }}
                <strong>{{ m.UserName }}</strong>
                <div>{{ m.Text }}</div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="mt-3 mb-3 mr-3 form-control form-control-lg" [(ngModel)]="text" />
        </div>
        <button
          class="btn btn-outline-primary"
          [disabled]="text.length == 0"
          (click)="sendMessage()"
        >
          Send Message
        </button>
      </div>
    </div>
  </div>
</div>
